html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya SC", serif;
}

.main {
  background-image: url("/assets/images/firstBackground.png");
  padding: 108px 0;
}
.main__container {
  width: 1334px;
  margin: 0 auto;
  background: rgba(221, 221, 221, 0.3);
  box-shadow: -20px -20px 40px rgba(0, 0, 0, 0.1), 20px 20px 40px rgba(0, 0, 0, 0.15), inset 10px 10px 20px rgba(255, 255, 255, 0.5), inset -10px -10px 20px rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 35px;
}
.main__header {
  background: #FFFFFF;
  border-radius: 35px 35px 0px 0px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__wrapper {
  padding: 50px;
}

.header__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.25em;
  letter-spacing: 0.2em;
}
.header__bag {
  width: 23px;
}

.wrapper__flex {
  display: flex;
  gap: 140px;
}
.wrapper__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.wrapper__year {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}
.wrapper__title {
  text-align: right;
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.7) 0%, rgba(150, 171, 177, 0) 100%);
}
.wrapper__button {
  max-width: 50px;
  margin: 0 auto;
}
.wrapper__card-list {
  display: flex;
  gap: 30px;
}
.wrapper__bottom {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__image:hover {
  transform: scale(1.08);
}
.card__image {
  width: 247px;
  transition: transform 0.5s;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}
.card__text {
  margin-top: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.bottom__slider {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.slider__span {
  font-size: 20px;
}
.slider__span:nth-child(4) {
  color: #FFFFFF;
}

.language__info {
  display: flex;
  gap: 13px;
  align-items: center;
}
.language__text {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.info {
  background-image: url("/assets/images/secondBackground.png");
  padding: 100px 0;
}
.info__new {
  width: 1107px;
  margin: 0 auto 43px auto;
}
.info__discount {
  width: 1107px;
  margin: 0 auto 43px auto;
  display: flex;
}
.info__company {
  width: 1107px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  align-items: center;
}

.new__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.new__card-list {
  display: flex;
  gap: 38px;
}

.form {
  width: 665px;
  height: 273px;
  background: #FFFFFF;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.35);
  border-radius: 20px 0px 0px 20px;
  padding: 73px 121px 110px 65px;
  display: flex;
  align-items: flex-end;
  gap: 19px;
}
.form__label {
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.form__input {
  width: 410px;
  height: 31px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.28);
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}
.form__input::-moz-placeholder {
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.51);
}
.form__input:-ms-input-placeholder {
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.51);
}
.form__input::placeholder {
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.51);
}
.form__image {
  width: 445px;
}
.form__button {
  height: 50px;
}

.company__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.company__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.company__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.company__orders {
  display: flex;
  gap: 50px;
  align-items: center;
}

.order {
  width: 135px;
}

.order:nth-child(1) {
  width: 83px;
}

.order:nth-child(3) {
  width: 120px;
}

.orders__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  letter-spacing: 0.05em;
}
.orders__numb {
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer {
  padding: 108px 0;
  color: #fff;
  background: #525252;
}
.footer__container {
  width: 1107px;
  margin: 0 auto;
  display: flex;
  gap: 105px;
  align-items: center;
}

.container__page {
  display: flex;
  gap: 146px;
  align-items: center;
}
.container__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.container__contacts {
  display: flex;
  align-items: center;
  gap: 83px;
}

.list {
  display: flex;
  gap: 90px;
}
.list__wrap:nth-child(1) {
  width: 99px;
}

.wrap__list {
  list-style-type: none;
}
.wrap__item {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.wrap__link {
  text-decoration: none;
  color: #fff;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: right;
}

.info__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: right;
}
.info__phone {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.info__tel {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.info__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}
.info__zsu {
  padding: 10px 0;
}
.info__help {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

.link__image {
  height: 22px;
}/*# sourceMappingURL=style.css.map */